.dumbledore {
	left: 2000px;
	top: 20px;
	width: 300px;
	height: 300px;
	border-color: purple;
	border-width: 4px;
	border-style: double;
	padding: 100px 10px 10px 10px;
	background: url('Assets/Images/smiley.gif');
	background-repeat: no-repeat;
}
.riddle {
	margin:40px;
	background: url('Assets/Images/desert.jpg');
	background-repeat: repeat;
	background-position: bottom left;
}

.Jules {
	left: 60px;
	top: 50px;
	width: 300px;
	height: 330px;
	border-color: gray;
	border-width: 4px;
	border-style: dotted;
	padding: 10px 12px 20px 40px;
	background: url('Assets/Images/smiley.gif');
	background-repeat: no-repeat;
}
.BenKenobi {
	left: 2000px;
	top: 0px;
	width: 300px;
	height: 300px;
	border-color: purple;
	border-width: 4px;
	border-style: double;
	background-color: orange;
	background-repeat: no-repeat;
}

.Pokemons {
	left:000px;
	top: 200px;
	width: 210px;
	height: 420px;
	border-color: #fc125e;
	border-width: 2px;
	border-style: none;
	background-color: #ff8839;
	background-repeat: no-repeat;
}

.Aragorn {
	left: 0px;
	top: 0px;
	color: red;
	width: 187px;
	height: 213px;
	border-color: black;
	border-width: 4px;
	border-style: double;
	background-color: black;
	background-repeat: no-repeat;
}

.mySpan {
	color: #2fd388;
}